html
  head
    title title
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  body(style="padding: 0; margin: 0;")
    table(bgcolor="#FFFFFF", width="100%", style="font-family: Arial, sans-serif; color: #222222; font-size: 13px;")
      tr
        td(align="center")
          table(width="600")
            tr
              td
                | Lorem exercitationem ipsum officia molestias illum.
